@font-face
{
    font-family: 'Caladea';
    @import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');
}


@font-face
{
    font-family: 'Signika', verdana;
    @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
}

h1
{
font-family: 'Caladea';
font-weight: bold;
}

h1 strong
{
    color: red;
}


h2
{
    font-family: 'Signika';
    color : red;
}