@font-face
{
    font-family: 'Caladea';
    @import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');
}


@font-face
{
    font-family: 'Signika', verdana;
    @import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');
}


@font-face
{
    font-family: 'Aileron';
    src: url('../font/Aileron-Regular.otf') format('otf');
}

header
{
    margin-top: 65px;
    
    right: 95px;
    height:290px;
    width : 30px;
    position: fixed;
}


nav ul
{  
    list-style-type: none; 
}


nav a img
{
    margin-top: 18px;
    width: 18px;
    height: 18px;
    filter: contrast(20%);
    -webkit-filter: contrast(20%);
}

nav a:hover
{
    filter: contrast(400%);
    -webkit-filter: contrast(400%);
}






.bg
{
    background: url('../img/background_1.jpg') no-repeat center bottom;  
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.page1
{
    text-align: center;
    padding-top: 25vh; 
}


h1
{
font-family: 'Caladea';
font-weight: bold;
font-size: 2em;
}


.page2 
{
    padding-top: 25vh; 
}

h2
{
    text-align: left;
    font-family: 'Aileron';
    
}

.bg-danger
{
    height: 100vh;
}